<div id="page-content-wrapper">
  <div class="container-fluid">
    <div>
      <a class="btn btn-primary" href="<%= new_page_path %>">New Page</a>
      <form method="get" action="<%= pages_path %>">
        <input name="search" value="1" hidden><br>
        <input name="value" value="<%= @value %>"><br>
        <button>Ok</button>
      </form>
    </div>
    <table class="table">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Coin</th>
        <th>Time</th>
        <th>Description</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% @pages.each do |p| %>
          <tr>
            <td><%= p.id %></td>
            <td><%= p.name %></td>
            <td><%= p.coin %></td>
            <td><%= p.time %></td>
            <td><%= p.description %></td>
            <td><a href="<%= edit_page_path(p) %>">Edit</a>
              <%= link_to 'Destroy', page_path(p),
                          data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>