<div id="page-content-wrapper">
  <div class="container-fluid">
  <div>
    <a class="btn btn-primary" href="<%= new_account_path %>" >Add new</a>
  </div>
    <table class="table">
      <thead>
      <th>Ip</th>
      <th>Email</th>
      <th>username</th>
      <th>password</th>
      <th>apikey</th>
      <th>bitcoin</th>
      <th>dogecoin</th>
      <th>list</th>
      <th>action</th>
      </thead>
      <tbody>
      <% @accounts.each do |a| %>
          <tr>
            <td><%= a.ip %></td>
            <td><%= a.email %></td>
            <td><%= a.username %></td>
            <td><%= a.api_key %></td>
            <td><%= a.password %></td>
            <td><%= a.bitcoin %></td>
            <td><%= a.dogecoin %></td>
            <td><%= a.list %></td>
            <td>
              <a href="<%= edit_account_path(a) %>">Edit</a>
              <%= link_to 'Destroy', account_path(a),
                          data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
